

 html, body {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    background: white;
    overflow: hidden;
  } 

  .button_area{
    display: flex; 
    justify-content: center; 
    position: relative; 
    height: 50vh;
  }

  .button {
    border: solid 2px black;
    color: black;
    width: 1000px;
    height: 175px;
    padding: 15px;
    margin: 35px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 3vh;
    transition: ease 0.4s;
    text-align: center;
    position: relative;
    top: 25%;
    animation: fade-in-animation 1.5s ease-in-out forwards;
  }

  .button:nth-child(1){
    opacity: 0;
    animation-delay: 0.2s;
  }
  
  .button:nth-child(2){
    opacity: 0;
    animation-delay: 0.4s;
  }
  .button:nth-child(3){
    opacity: 0;
    animation-delay: 0.6s;
  }

  .button:hover{
    background-color: #DC143C;
    width: 1250px;
    height: 250px;
    font-size: 4vh;
  }

  .button:active{
    margin: 5px 5px 0; 
  }

  .href_text{
    text-decoration: none;
    color: black;
  }

  .quote_area{
    position: relative; 
    width: 100%;
    height: 50vh;
    background-color: #DC143C;
  }

  .quote{
    position: relative;
    top: 40%;
    text-align:center;
    color: white;
    font-size: xx-large;
    font-weight: 450;
  }

  .title_text{
    opacity: 0; /* Initially hide the text */
    animation: fade-in-animation 1.5s ease-in-out forwards;
    text-align: center; 
    white-space: nowrap;
    font-size: 7vh;
    font-weight: 600;
  }

  @keyframes fade-in-animation {
    0% {
      opacity: 0; /* Start with transparency */
      transform: translateY(20px); /* Move the text down by 20 pixels */
    }
    100% {
      opacity: 1; /* Fade in to full opacity */
      transform: translateY(0); /* Move the text to its original position */
    }
  }
  