

 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: white;
    background: linear-gradient(white 50%, red 50%);
  } 

  .button {
    border: solid 2px black;
    color: black;
    width: 1000px;
    height: 175px;
    padding: 10px;
    margin: 35px;
    border-radius: 20px;
    cursor: pointer;
    font-size: x-large;
    transition: ease 0.4s;
    text-align: center;
  }

  .button:hover{
    background-color: red;
  }

  .href_text{
    text-decoration: none;
    color: black;
  }

  .quote{
    text-align:center;
    color: white;
    font-size: xx-large;
  }